@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

* {
    margin: 0;
    padding: 0;
}

body, .body-wrapper{
    width: 100vw;
    height: 100vh;
    background: rgba(5,10,20,1) url("pixel.png") repeat;
    
}

#body-logo img{
    cursor: pointer;
    position: absolute;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    top: 40%;
    margin-top: -75px;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0,255,255,0.5)) opacity(.7);
    filter: drop-shadow(0px 0px 2px rgba(0,255,255,0.5)) opacity(.7);
    transition: 500ms;
}

#body-logo img:hover{
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0,255,255, 0.5)) opacity(1);
    filter: drop-shadow(0px 0px 4px rgba(0,255,255, 0.5)) opacity(1);
}

.body-wrapper  ul{
    list-style-type: none;
    font-family: 'Source Code Pro', monospace, sans-serif;
    font-size: 30px;
}

.body-wrapper li{
    display: inline;
    float: left;
}

.body-wrapper li a {
    display: block;
    color: rgba(0,255,255,0.6);
    text-align: center;
    padding: 25px 50px;
    margin-right: 10px;
    text-decoration: none;
    perspective: 500px;    
    background: rgba(0,255,255,0.05);
    transform: skewX(-20deg);
}

.body-wrapper nav{
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: -345px;
}

.body-wrapper li a:hover{
    color: rgba(0,255,255,1);
    background: rgba(0,255,255,0.10);
    border-bottom: 2px solid rgba(0,255,255,0.5);
    
}