@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

.main-nav{
    width: 100%;
    height: 70px;
    background: rgba(5,10,20,0.9);
    position: relative;
    transition: 500ms;
}

#logo{
    width: 27px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    filter: opacity(.7);
    transition: 500ms;
}

#logo:hover{
    filter: opacity(1);
}

body{
    background: rgba(5,10,20,1);
    color: white;
}

.content{
    width: 60%;
    height: auto;
    margin: 50px auto; 
    font-family: "Inconsolata", monospace, serif;
    font-weight: 400;
    color: rgb(0,180,255);
/*    background: red;*/
}
.content table{
    margin: 0 auto;
    text-align: center;
}

.content td, .content th{
    width: 150px;
}

.content th{
    font-weight: 700;
    border-bottom: 2px solid rgba(0,180,255,0.7);
}

.content tr:hover{
    background: rgba(0,180,255,0.02);
}