body{
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.05);
}

.icon{
    display: inline-block;
    *display: inline;
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.bar{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
