@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

textarea{
    border-radius: 5px;
    width: 40%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: -25%;
    margin-left: -20%;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    transition: 0.3s;
    color: rgba(0,0,0,0.9);
}


div{
    border-radius: 5px;
    width: 30%;
    height: 85%;
    position: absolute;
    top: 50%;
    right: 10%;
    margin-top: -25%;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    transition: 0.3s;
    background: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.8);
}

div:hover{
    background: rgba(0,0,0,0.25);
    padding: 15px;
}
